* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.header {
  position: relative;
  z-index: 1;
  section {
    background: #0f2135;
  }
  .head {
    padding: 23px 0;
    .row {
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      display: flex;
      background: url(img/logo.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 140px;
      height: 54px;
      @media screen and (max-width: 561px) {
        width: 110px;
        height: 42px;
      }
    }
    .navigation {
      justify-content: flex-end;
      @media screen and (max-width: 561px) {
        display: none;
      }
      .nav-link {
        margin-left: 54px;
        &::after {
          bottom: -32px;
        }
      }
    }
    .burger {
      display: none;
      width: 30px;
      height: 21px;
      background: url(img/combined-shape.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: 0.3s linear;
      cursor: pointer;
      @media screen and (max-width: 561px) {
        display: block;
      }
    }
    .burger.open {
      width: 31px;
      height: 31px;
      background: url(img/combined-shape-2.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: 0.3s linear;
    }
  }
  .mobile-nav {
    display: none;
    border-top: 1px solid #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    transform: translateY(-570px);
    transition: all 0.8s ease;
    @media screen and (max-width: 561px) {
      display: block;
    }
    .navigation {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 60px;
      .nav-link {
        font-size: 24px;
        font-weight: bold;
        padding-left: 35px;
        margin-bottom: 50px;
        &::after {
          content: none;
        }
      }
      button {
        width: 146px;
        height: 44px;
        border-radius: 8px;
        border: 1px solid #e43898;
        background-color: #e43898;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        margin: 14px 0 35px 60px;
        margin-left: 35px;
        margin-top: 14px;
      }
    }
  }
  .mobile-nav.visible {
    transform: translateY(0);
    transition: all 0.8s ease;
  }
  .head-scroll {
    padding: 13px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateY(-100px);
    transition: all 0.8s ease;
    z-index: 1000;
    @media screen and (max-width: 768px) {
      display: none;
    }
    .col-1 {
      margin: auto;
    }
    .logo {
      display: flex;
      background: url(img/logo-copy.png);
      width: 34px;
      height: 34px;
    }
    .navigation {
      justify-content: flex-start;
      .nav-link {
        margin-right: 54px;
        cursor: pointer;
        &::after {
          bottom: -17px;
        }
      }
    }
    .call {
      text-align: end;
      button {
        width: 146px;
        height: 44px;
        border-radius: 8px;
        border: 1px solid #e43898;
        background-color: #e43898;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        transition: 0.5s;
        &:hover,
        &:focus {
          border: 1px solid #9f0e60;
          background-color: #9f0e60;
        }
      }
    }
  }
  .head-scroll.scrolled {
    transform: translateY(0);
    transition: all 0.8s ease;
  }
  .navigation {
    display: flex;
    align-items: center;
    .nav-link {
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      padding: 8px 0;
      transition: 0.5s;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 8px;
        position: absolute;
        transition: 0.5s;
      }
      &:hover {
        &::after {
          background-color: #e43898;
          box-shadow: 0 -2px 13px 0 #e43898;
        }
      }
    }
    .nav-link.active {
      color: #e43898;
    }
  }
}
.main {
  .screen {
    background: url(img/wpapers-ru-white-and-blue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 109px;
    .container {
      max-width: 769px;
    }
    .content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
      h1 {
        font-size: 42px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #0f2135;
        margin-bottom: 33px;
        @media screen and (max-width: 561px) {
          font-size: 32px;
        }
      }
      p {
        font-size: 28px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #0f2135;
        margin-bottom: 31px;
        @media screen and (max-width: 561px) {
          font-size: 18px;
          margin-bottom: 62px;
        }
      }
      .btn {
        width: 225px;
        height: 58px;
        border-radius: 8px;
        background-color: #e43898;
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        margin-bottom: 95px;
        transition: 0.5s;
        &:hover,
        &:focus {
          background-color: #9f0e60;
        }
      }
    }
  }
  .cases {
    background: #f2f4f5;
    padding: 73px 16px 54px;
    .container {
      max-width: 1166px;
    }
    h2 {
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #0f2135;
      margin-bottom: 30px;
      padding: 0 1%;
    }
    .cases-items-wrap {
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
    }
    .cases-items {
      border-radius: 10px;
      box-shadow: 0 2px 14px 0 rgba(15, 33, 53, 0.11);
      background-color: #ffffff;
      padding: 0;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: 96%;
      height: 100%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      .image {
        height: 163px;
        overflow: hidden;
        .case_image {
          width: 100%;
          height: auto;
        }
      }
      .cases-items-item {
        padding: 20px 25px 0;
        .date {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #7f8d9c;
          margin-bottom: 11px;
        }
        .title {
          font-size: 16px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #0f2135;
          margin-bottom: 12px;
          overflow-wrap: break-word;
        }
        .text {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: #0f2135;
          overflow-wrap: break-word;
        }
      }
      .read-more {
        border-top: 1px solid rgba(15, 33, 53, 0.11);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px 25px 22px;
        color: #7f8d9c;
        margin-top: auto;
        text-decoration: none;
        p {
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.71;
          letter-spacing: normal;
          margin: 0 10px 0 0;
        }
        transition: 0.5s;
        svg {
          path {
            fill: #7f8d9c;
            transition: 0.5s;
          }
        }
        &:hover,
        &:focus {
          color: #e43898;
          cursor: pointer;
          svg {
            path {
              fill: #e43898;
            }
          }
        }
      }
    }
    .cases-items.error {
      width: 100%;
      text-align: center;
    }
  }
}
.footer {
  padding: 75px 0 92px;
  @media screen and (max-width: 768px) {
    padding-top: 45px;
  }
  .container {
    max-width: 1166px;
    .footer-text {
      @media screen and (min-width: 768px) {
        padding-right: 19px;
      }
      p:first-of-type {
        font-size: 22px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: normal;
        color: #0f2135;
        margin-bottom: 65px;
        @media screen and (max-width: 768px) {
          margin-bottom: 19px;
        }
      }
      p:last-of-type {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #7f8d9c;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 13px;
      }
    }
    .footer-form {
      @media screen and (min-width: 768px) {
        padding-left: 19px;
      }
      .form {
        input[type="text"] {
          border-radius: 8px;
          border: solid 1px #7f8d9c;
          color: #0f2135;
          background-color: #ffffff;
          padding: 12px 20px 13px;
          width: 100%;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          margin-bottom: 27px;
          transition: 0.5s;
          &:hover,
          &:focus {
            border: 1px solid #e43898;
            outline: none;
          }
        }
        .check {
          display: flex;
          align-items: center;
          margin-bottom: 32px;
          input[type="checkbox"] {
            display: none;
          }
          .checkbox {
            width: 19px;
            height: 19px;
            border-radius: 3px;
            border: solid 1px #7f8d9c;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;
            &:hover,
            &:focus {
              border: solid 1px #e43898;
              outline: none;
            }
          }
          input[type="checkbox"]:checked + .checkbox {
            background-color: #e43898;
            border: solid 1px #e43898;
          }
          p {
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #0f2135;
            margin-left: 15px;
            margin-bottom: 0;
            @media screen and (max-width: 375px) {
              font-size: 15px;
            }
            a {
              color: #e43898;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
        .buttons {
          input[type="submit"] {
            width: 183px;
            height: 44px;
            border-radius: 8px;
            border: solid 1px #e43898;
            background-color: #e43898;
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            margin-right: 17px;
            transition: 0.5s;
            @media screen and (max-width: 375px) {
              width: 155px;
            }
            &:hover,
            &:focus {
              border: solid 1px #9f0e60;
              background-color: #9f0e60;
            }
          }
          input[type="reset"] {
            width: 137px;
            height: 44px;
            border-radius: 8px;
            border: solid 1px #e43898;
            background-color: #ffffff;
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #e43898;
            transition: 0.5s;
            @media screen and (max-width: 375px) {
              width: 110px;
            }
            &:hover,
            &:focus {
              border: 1px solid #9f0e60;
              background-color: #9f0e60;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
